{% extends 'layout.html' %}
{% load my_filters_and_tags %}

{% block breadcrumb %}
    <li><a href="/article/list">精彩文章</a></li>
    <li class="active">文章详情</li>
{% endblock %}

{% block css %}
    <style>
        #body img {
            max-width: 100%;
            cursor: zoom-in;
        }

        /*使图片在浏览器中居中显示*/
        .bigImg {
            position: absolute;
            top: 50%;
            left: 50%;
            /*图片向左移动自身宽度的50%, 向上移动自身高度的50%。*/
            transform: translate(-50%, -50%);
            cursor: zoom-out;
        }

        /*遮罩层*/
        .opacityBottom {
            width: 100%;
            height: 100%;
            position: fixed;
            background: rgba(0, 0, 0, 0.8);
            z-index: 1000;
            top: 0;
            left: 0;
        }

    </style>
{% endblock css %}

{% block content %}


<main class="container">

    <div class="container">
        <!-- 标题及作者 -->
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <div class="col-12 alert alert-success">
            <div>
                作者：{{ article.author }}
            </div>
            <div>
                浏览：{{ article.total_views }}
            </div>
        </div>

        <!-- 文章正文 -->
        <div id="body" class="col-12">
            <p>{{ article.body|safe }}</p>
        </div>
    </div>

    <!-- 发表评论 -->
    <div class="container">
        <hr>
        {% if request.session.info %}
            <div>
                <form action="{% url 'post_comment' article.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="body">
                            <strong>
                                我要发言：
                            </strong>
                        </label>
                        <div>
                            {{ comment_form.media }}
                            {{ comment_form.body }}
                        </div>
                        {#                    <span style="color: red">{{ form.error.0 }}</span>#}
                    </div>
                    <!-- 提交按钮 -->
                    <button type="submit" class="btn btn-primary ">发送</button>
                </form>
            </div>
            <br>
        {% else %}
            <br>
            <h5 class="row justify-content-center">
                请<a href="{% url 'login' %}">登录</a>后回复
            </h5>
            <br>
        {% endif %}

    </div>


    <!-- 显示评论 -->

    <div class="container" style="margin-bottom: 10em">
        <h4>共有{{ comments.count }}条评论</h4>
        {% for comment in comments %}
            <hr>
            <p>
                <strong style="color: #fc2f52">
                    {{ comment.user }}
                </strong> 于
                <span style="color: #2885ea">
                    {{ comment.created|timesince_zh }}
                </span> 时说：
            </p>
            <pre style="font-family: inherit; font-size: 1em;">{{ comment.body|safe }}</pre>
        {% endfor %}
    </div>

</main>






{% endblock %}
{% block js %}
    <script>
        $('img').click(function () {
            //获取图片路径
            var imgsrc = $(this).attr("src");
            {#console.log(imgsrc);#}
            var opacityBottom = '<div class="opacityBottom" style = "display:none"><img class="bigImg" src="' + imgsrc + '"></div>';
            $(document.body).append(opacityBottom);
            toBigImg();//变大函数

        });

        function toBigImg() {
            $(".opacityBottom").addClass("opacityBottom");//添加遮罩层
            $(".opacityBottom").show();
            $("html,body").addClass("none-scroll");//下层不可滑动
            $(".bigImg").addClass("bigImg");//添加图片样式
            $(".opacityBottom").click(function () {//点击关闭
                $("html,body").removeClass("none-scroll");
                $(".opacityBottom").remove();
            });
        }
    </script>

{% endblock %}