{% extends 'layout.html' %}
{% load static %}
{% block breadcrumb %}
    <li><a href="/course/list">全部课程</a></li>
    <li class="active">课程详情</li>
{% endblock %}

{% block css %}
    <style>
        .console > p {
            margin-bottom: 20px
        }
    </style>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-sm-8">
            <div class="jumbotron" style="background: #c9bebe">
                <h1>改变</h1>
                <p>从现在开始!</p>
                <p>{{ course.body }}</p>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body console">
                    <p><i class="fa fa-2x fa-user"> {{ course.coach }} </i></p>
                    <p><i class="fa fa-2x fa-calendar-check-o"> {{ course.period }} 个课时</i></p>
                    <p><i class="fa fa-2x fa-clock-o"> {{ course.get_day_no_display }}{{ course.get_time_display }}</i>
                    <p><i class="fa fa-2x fa-credit-card" id="acount">我的余额：{{ user_obj.acount }}</i>
                    </p>


                </div>
                <div class="panel-footer">
                    <button type="button" uid="{{ course.id }}" log_status="{{ request.session.info.status }}"
                            id="btn-buy" class="btn btn-primary">购买此课程
                    </button>
                </div>
            </div>
        </div>


        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">放弃可以找到一万个理由， <span
                        class="text-muted">坚持只需一个信念！</span></h2>
                <p class="lead">在人生中，赢家并不是那些有优秀基因的人，或是那些最有天分的人，而是那些最不屈不挠的人!当他们跌倒了，他们总是不断的爬起来，继续做，继续做。”——格雷格。普利特</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                     alt="500x500"
                     src="{% static 'image/course_1.jpg' %}"
                     data-holder-rendered="true">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">走健身这条路注定很艰苦、<span
                        class="text-muted">但回报你的将是一辈子的!</span></h2>
                <p class="lead">想着要赢得比赛不会给你力量，在锻炼中挣扎力量才会增长，当你克服困难不想放弃时，这就是力量。”——阿诺德·施瓦辛格</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                     alt="500x500"
                    src="{% static 'image/course_2.jpg' %}"
                     data-holder-rendered="true">
            </div>
        </div>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">当你想放弃的时候，想想当初为什么开始！ <span
                        class="text-muted">只有足够努力，才能看起来毫不费力。</span></h2>
                <p class="lead">对我来说，生活一直都充满渴望。生活的意义不仅仅是存在，或者生存，而是向前进步，向上奋发，去成就大事业，去征服伟业。”——阿诺德·施瓦辛格</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                     alt="500x500"
                    src="{% static 'image/course_3.jpg' %}"
                     data-holder-rendered="true">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">生命在于运动， <span
                        class="text-muted">运动要讲科学!</span></h2>
                <p class="lead">有勇气不一定总要大声吼出来。有时候勇气仅仅是一天结束后静静地说‘明天我再试试。’”——maryanneradmacher</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                     alt="500x500"
                     src="{% static 'image/course_4.jpg' %}"
                     data-holder-rendered="true">
            </div>
        </div>


    </div>

    <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">是否确定购买该课程？</h4>
                </div>
                <div class="modal-body">
                    <p>{{ course.title }}</p>
                    <p>时间：{{ course.get_day_no_display }}{{ course.get_time_display }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button type="button" id='btn-confirm-buy'
                            class="btn btn-primary">确 定
                    </button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block js %}
    <script type="text/javascript">

        var COURSE_ID
        var LOGIN_STATUS

        $(function () {
            bindBtnBuyEvent();
            bindBtnBuyConfirmEvent();
        })

        function bindBtnBuyEvent() {
            $('#btn-buy').click(function () {
                //点击按钮，显示对话框
                LOGIN_STATUS = $(this).attr("log_status")
                if (LOGIN_STATUS) {
                    $('#buyModal').modal('show')
                    COURSE_ID = $(this).attr("uid")
                    console.log(COURSE_ID)

                } else {
                    alert('请先登录')
                    $(location).prop('href', '/login')
                }

            })
        }

        function bindBtnBuyConfirmEvent() {
            $('#btn-confirm-buy').click(function () {
                $.ajax({
                    url: '/course/buy',
                    type: 'get',
                    data: {
                        uid: COURSE_ID
                    },
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            $('#acount').text('我的余额：'+res.acount)
                            alert('购买成功')
                            $('#buyModal').modal('hide')
                        } else {
                            alert(res.errors)
                            $('#buyModal').modal('hide')

                        }
                    }

                })
            })
        }

    </script>

{% endblock %}